@page "/EventEaseApp.github.io/eventlist"
@inject EventService EventService
@inject NavigationManager NavigationManager
@using EventEaseApp.Models
@using EventEaseApp.Services;

<h1 class="text-center">Event List</h1>

@if (EventService.GetEvents().Any())
{
    @foreach (var evt in EventService.GetEvents())
    {
        <EventCard 
            EventName="@evt.Name" 
            EventDate="@evt.Date" 
            EventLocation="@evt.Location"
            EventDescription="@evt.Description"
            Color="@evt.Color"
            IsReadOnly="true"
        />

        @if (evt.IsAttending)
        {
            <p class="text-success text-center"><em>✔ Attending</em></p>
        }
    }
}
else
{
    <p class="text-center text-muted">No events registered.</p>
}

